{% extends 'base.html'%}
{% block content %}
<p>{{ about|title }}</p>
<br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint velit tempore architecto, cumque, quia ab dolorum inventore nobis in quibusdam cum magni quam iusto officiis, culpa earum blanditiis esse. Incidunt, ut doloribus voluptatum quo neque vel molestiae, repudiandae fugiat deserunt ipsum tempora veniam placeat magni! Sit, perspiciatis id sint itaque ad praesentium delectus illum reprehenderit dolor quos illo in nihil soluta esse nesciunt! Minima hic aperiam iste laborum, blanditiis voluptate recusandae optio fugit atque, assumenda iusto rem velit reiciendis eveniet cumque inventore magnam facilis dicta, quas autem. Cupiditate saepe, nulla et veritatis facere nobis dolor, voluptates modi possimus provident eaque?</p>
{% endblock content%}